<!doctype html>
<html lang="en">
 <head>
   <title>Login</title>
   <meta charset="UTF-8">
   {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'login/css/bootstrap.min.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{% static 'login/js/bootstrap.min.css'}"></script>
 </head>
 <body class="logreg">
  {% if messages %}
  {% for message in messages %}
    <div id="warning" style="background-color:red">
      <p>{{message}}</p>
    </div>
  {% endfor %}
  {% endif %}

    <div class="col-md-12" id="welcome">
      <h1>URBAN FARM</h1>
    </div>
    <div class="welcomehome">
      <div class="main col-md-12">
        <div class="col-sm-12 col-md-5 col-md-offset-1" id="left">
          <h1>WELCOME TO URBAN FARM</h1>
          <p>Urban farm is a site dedicated to keeping food local. It was founded in Burbank, California, Urban Farm is a community of users that grow vegetables and fruits in their backyard and want to sell within their community.</p>
        </div>
      <div class="col-sm-12 col-md-3 col-md-offset-1" id="right">
        <div id="register">
          <form class="form" action="/register" method="post">
            {% csrf_token %}
            <h2>REGISTER</h2>
            <label>First Name:</label>
            <input type="text" name="first_name">
            <label>Last Name:</label>
            <input type="text" name="last_name">
            <label>Email:</label>
            <input type="email" name="email">
            <label>Password:</label>
            <input type="password" name="pass">
            <label>Confirm Password:</label>
            <input type="password" name="cpass">
            <input id="subreg" type="submit" name="submit">
          </form>
        </div>
        <div id="log">
          <form class="form" action="/login" method="post">
            {% csrf_token %}
            <h2>LOGIN</h2>
            <label>Email:</label>
            <input type="email" name="email">
            <label>Password:</label>
            <input type="password" name="pass">
            <input id="sub" type="submit" name="submit">
          </form>
        </div>
      </div>
    </div>
   </div>
 </body>
</html>
