<!doctype html>
<html lang="en">
 <head>
   <title>Welcome to the Farm</title>
   <meta charset="UTF-8">
	 {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
 </head>
 <body class="welcomehome">
 	<div class='navkey'>
        <ul>
            <li><a href='/home'>Home</a></li>
            <li><a href='/farm'>MyFarm</a></li>
            <li><a href='/farm/shop'>Shop</a></li>
            <li><a href='/logout'>Logout</a></li>
        </ul>
  </div>
  <div class='homenav'>
 	  <h1>Welcome {{request.session.user}}!</h1>
    <br>
    <br>
    <button type="" class="homeButton"><a href="/farm/shop">Shop</a></button>
    <button type="" class="homeButton"><a href="/farm">My Farm</a></button>
  </div>
</body>
</html>
