<!doctype html>
<html lang="en">
 <head>
   <title>Thank You</title>
   <meta charset="UTF-8">
	 {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'login/css/styles.css' %}">
 </head>
 <body>
 	<div class='navkey'>
        <ul>
            <li><a href='/home'>Home</a></li>
            <li><a href='/farm'>MyFarm</a></li>
            <li><a href='/farm/shop'>Shop</a></li>
            <li><a href='/logout'>Logout</a></li>
        </ul>
    </div>git 
 	<h1>Thank you {{request.session.user}} for shopping the farm!</h1>
<button type=""><a href="/farm/shop">shop</a></button>
<button type=""><a href="/farm">my farm</a></button>
 
 </body>
 </html>