 <!doctype html>
<html lang="en">
 <head>
   <title>Update</title>
   <meta charset="UTF-8">
	 {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
 </head>
 <body>
 	<div class='navkey'>
        <ul>
            <li><a href='/home'>Home</a></li>
            <li><a href='/farm'>MyFarm</a></li>
            <li><a href='/farm/shop'>Shop</a></li>
            <li><a href='/logout'>Logout</a></li>
        </ul>
    </div>
  <form action="/register" method='post'>
 	  <fieldset>
    {% csrf_token %}
    <legend>Register</legend>
 		<label>First Name:</label>
 		<input type="text" name="first_name" placeholder="first name">
 		<label>Last Name:</label>
 		<input type="text" name="last_name" placeholder="last name">
 		<label>email:</label>
 		<input type="email" name="email" placeholder="email">
 		<label>Password:</label>
 		<input type="password" name="pass" placeholder="password">
 		<label>Confirm Password:</label>
 		<input type="password" name="cpass" placeholder="password">
 		<input type='submit' name='submit'>
 	  </fieldset>
    </form>
 	</div>
 </body>
 </html>
