<!doctype html>
<html lang="en">
	<head>
	<title>Add a product to the farm!</title>
	</head>
<body>
	<div class='navkey'>
		<a href='/home'>Home</a>
		<a href='/farm'>MyFarm</a>
		<a href='/farm/shop'>Shop</a>
		<a href='/logout'>Logout</a>
	</div>
	<h3>List your item for sale!</h3>
	{% block content %}
	<form enctype="multipart/form-data" action='/farm/create' method='POST'>
	{% csrf_token %}
		<p>Item name:</p>
		<input type='name' name='name' id='name'>
		<br>
		<br>
        <p>Description of your item:</p>
        <textarea name="description" id="description"></textarea>
        <br>
        <br>
		Type:
		<select name="type_food" id="type_food">
			<option id="vegetable" value='vegetable'>Vegetable</option>
			<option id="fruit" value='fruit'>Fruit</option>
			<option id="herb" value='herb'>Herb</option>
			<option id="other" value='other'>Other</option>
		</select>
		<br>
		<br>
		<label for="unit">Unit(s):</label>
		<input type="number" name="unit"/>
		<br>
		<br>
		<label for="price">Price per Unit: $</label>
		<input type="text" name="price"/>(USD)
		<br>
		<br>
		<label for="image">Image Upload:</label>
		<input id="image" type="file" name="image"/>
		{{ form.image }}
		<br>
		<br>
		<input id="submit" type='submit' value='Add to Farm'>
	</form>
	{% endblock %}
 </body>
 </html>
