<!doctype html>
<html lang="en">
	<head>
	<title>Add a product to the farm!</title>
	</head>
<body>
	<h3>List your item for sale!</h3>

	<form action='INSERT LINK HERE' method='POST'>
	{% csrf_token %}
		<p>Item name:</p>
		<input type='name' name='name' id='name'>
		<br>
		<br>
        <p>Description of your item:</p>
        <textarea name="description" id="description"></textarea>
        <br>
        <br>
		Type:
		<select name="type_food" id="type_food">
			<option id="vegetable" value='vegetable'>Vegetable</option>
			<option id="fruit" value='fruit'>Fruit</option>
			<option id="herb" value='herb'>Herb</option>
			<option id="other" value='other'>Other</option>
		</select>
		<br>
		<br>
		<input id="submit" type='submit' value='Add to Farm'>
	</form>
 </body>
 </html>