<!doctype html>
<html lang="en">
	<head>
	<title>Update product from your farm!</title>
	</head>
<body>
	<style>
		img {
			max-height: 100px;
		}
	</style>
	<div class='navkey'>
        <ul>
            <li><a href='/home'>Home</a></li>
            <li><a href='/farm'>MyFarm</a></li>
            <li><a href='/farm/shop'>Shop</a></li>
            <li><a href='/logout'>Logout</a></li>
        </ul>
    </div>
	<h3>{{request.session.user}}'s Items for Sale</h3>
	<br><br>
	<button><a href='/farm/add'>Update Item</a></button>
	<br><br>
	<table>
        <thead>
            <tr>
                <th>Item Name</th>
            </tr>
        </thead>
        <tbody>
            {% for farm in my_farm.all %}
            <tr>
                <td><a href='/farm/update/{{ farm.id }}'>{{ farm.name }}</a></td>
                <td><img src="{{ farm.image.url }}" alt="" /></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
	<button><a href='/farm/add'>List new item</a></button>
 </body>
 </html>
