<!doctype html>
<html lang="en">
	<head>
	<title>My Farm</title>
	{% load staticfiles %}
 	<link rel="stylesheet" href="{% static 'farm/css/style.css' %}">
	</head>
<body>
	<style>
		img {
			max-height: 100px;
		}
	</style>
	<div class='navkey'>
        <ul>
            <li><a href='/home'>Home</a></li>
            <li><a href='/farm'>MyFarm</a></li>
            <li><a href='/farm/shop'>Shop</a></li>
            <li><a href='/logout'>Logout</a></li>
        </ul>
  </div>
	<div class="farmhome">
	<h1>{{request.session.user}}'s Items for Sale</h1>
	<br><br>
	<button id="homeButton"><a href='/farm/add'>Add Item</a></button>
	<br><br>
</div>
	<table class="table">
        <thead>
            <tr>
								<th>Image</th>
                <th>Item Name</th>
								<th>Units</th>
								<th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for farm in my_farm.all %}
            <tr>
								<td><img src="{{ farm.image.url }}" alt="" /></td>
                <td><a href='/farm/update/{{ farm.id }}'>{{ farm.name }}</a></td>
								<td>{{ farm.unit }}</td>
								<td>${{ farm.price }} USD</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
		<div class="farmhome">
		<br><br>
		<button id="homeButton"><a href='/farm/add'>Add Item</a></button>
		<br><br>
	</div>
 </body>
 </html>
