<!doctype html>
<html lang="en">
	<head>
	<title>Add a product to the farm!</title>
	</head>
<body>
	<style>
		img {
			max-height: 100px;
		}
	</style>
	<div class='navkey'>
        <ul>
            <li><a href='/home'>Home</a></li>
            <li><a href='/farm'>MyFarm</a></li>
            <li><a href='/farm/shop'>Shop</a></li>
            <li><a href='/logout'>Logout</a></li>
        </ul>
    </div>
	<h3>{{request.session.user}}'s Items for Sale</h3>
	<br><br>
	{% for farm in my_farm %}
	{{farm.name}}
	{% if farm.image %}
		<img src="{{farm.image.url}}" alt="" />
	{% endif %}
	{% endfor %}
	<button><a href='/farm/add'>List new item</a></button>
 </body>
 </html>
