<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Featured items</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'farm/css/style.css' %}">
</head>
<body class="itemfeature">
  <style>
    body {
      font-size: 120%;
    }
  </style>
  <div class='navkey'>
        <ul>
            <li><a href='/home'>Home</a></li>
            <li><a href='/farm'>MyFarm</a></li>
            <li><a href='/farm/shop'>Shop</a></li>
            <li><a href='/logout'>Logout</a></li>
        </ul>
  </div>
  <br>
  <br>
<style>
  img {
    max-height: 200px;
  }
</style>
	{% for product in products %}
	<img src="{{ product.image.url }}" alt="itemforsale"/>
  <br>
  <br>
	<h3>Item Name: {{product.name}}</h3>
	<p>Description: {{product.description}}</p>
  <p>Sold in: {{product.sold_in}}</p>
	<p>Unit Price: ${{product.price}}</p>
	<p>Available Units: {{product.unit}}</p>
	<p>Seller: {{product.seller.first_name}}</p>
  <!-- add to cart needs to be added here -->
	{% endfor %}
</body>
</html>
