<!doctype html>
<html lang="en">
	<head>
	<title>Add a product to the farm!</title>
	</head>
<body>
	<div class='navkey'>
        <ul>
            <li><a href='/home'>Home</a></li>
            <li><a href='/farm'>MyFarm</a></li>
            <li><a href='/farm/shop'>Shop</a></li>
            <li><a href='/logout'>Logout</a></li>
        </ul>
    </div>
	<h3>List your item for sale!</h3>
	{% if messages %}
  {% for message in messages %}
          <div id="warning" style='background-color:red'>
            <p>{{message}}</p>
          </div>
{% endfor %}
{% endif %}
{% for product in products %}
	<img src="{{ product.image.url }}" alt="itemforsale"/>
	<form enctype="multipart/form-data" action='/farm/edit' method='POST'>
	{% csrf_token %}
		<p>Item name:</p>
		<input type='name' name='name' id='name' value='{{product.name}}'>
		<br>
		<br>
        <p>Description of your item:</p>
        <textarea name="description" id="description" >{{product.description}}</textarea>
        <br>
        <br>
		Type:
		<select name="type_food" id="type_food">
			<option id="vegetable" value='vegetable'>Vegetable</option>
			<option id="fruit" value='fruit'>Fruit</option>
			<option id="herb" value='herb'>Herb</option>
			<option id="flowers" value='flowers'>Flowers</option>
			<option id="other" value='other'>Other</option>
		</select>
		<br>
		<br>
		<label for="sold_in">Sold in:</label>
		<input type="text" name="sold_in" value='{{product.sold_in}}' />
		<br>
		<br>
		<label for="unit" >Unit(s):</label>
		<input type="number" name="unit" value='{{product.unit}}'/>
		<br>
		<br>
		<label for="price">Price per Unit: $</label>
		<input type="text" name="price" value='{{product.price}}'/>(USD)
		<br>
		<br>
		<input id="submit" type='submit' value='Update Farm'>
	</form>
 	{% endfor %}
 </body>
 </html>
