* {
	padding: 0;
	margin: 0;
	font-family: Didot, serif;
	}

img {
		max-height: 100px;
}
.welcomehome {
	background-image: url("http://i.imgur.com/sA84Rkz.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.homeButton {
     padding: 20px;
     font-size: 20px;
     background-color: white;
     text-align: center;
		 border-radius: 15px;
}

.homenav {
	background-color: #889ba0;
	width: 500px;
	height: 250px;
	margin: auto;
	margin-top: 100px;
	border-radius: 15px;
	text-align: center;
	padding-top: 100px;
}

.homenav a {
	text-decoration: none;
	text-transform: uppercase;
}

#welcome {
	opacity: 0.9;
	height: 65px;
	background-color: #c0c8ca;
}

#welcome h1 {
	padding-left: 20px;
	padding-top: 12px;
	text-align: left;
}

#intro {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	opacity: 0.9;
	height: 200px;
	background-color: #c0c8ca;
	border-radius: 25px;
	text-align: center;
	padding: 100px 20px;
}

#left, #right {
	margin-left: 50px;
	vertical-align: top;
	display: inline-block;
}


#sub, #subreg {
	margin:10px 0 10px 40px;
	color: green;

	width:80px;
	height: 30px;
	font-size: 20px;
}

.navkey ul {
	list-style: none;
	background-color: #c0c8ca;
	text-align: center;
	padding: 0;
	margin: 0;
}

.navkey li {
	font-family: 'Oswald', serif;
	font-size: 20px;
	line-height: 60px;
	height: 60px;
	display: inline-block;
	width: 120px;
}

.navkey a {
	text-decoration: none;
	color: #fff;
	display: block;
	transition: .3s background-color;
}

.navkey a:hover {
  background-color: #889ba0;
}

.navkey a.active {
	background-color: #fff;
  color: #444;
  cursor: default;
}

#right {
	margin-top: 50px;
	background-color: #c0c8ca;
	opacity: 0.9;
	border-radius: 10px;
	border:solid 1px black;
}

