* {
	padding: 0;
	margin: 0;
	background-color: c0c8ca;
	}

#homeButton {
     padding: 20px;
     font-size: 20px;
     background-color: white;
     text-align: center;
   }
#log, #register {
	opacity: 0.9;
	text-align: center;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	vertical-align: top
}


.logreg{
	font-family: Didot, serif;
    background-image: url("http://i.imgur.com/sA84Rkz.jpg");
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center center;
}

fieldset {
	border-radius: 15px;
	padding-top: 25px;
	border: none;
	background-color: #c0c8ca;
	height: 300px;
}

#welcome {
	opacity: 0.9;
	height: 65px;
	background-color: #c0c8ca;
}

#welcome h1 {
	padding-left: 20px;
	padding-top: 12px;
	text-align: left;
}


#intro {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	opacity: 0.9;
	height: 200px;
	background-color: #c0c8ca;	
	border-radius: 25px;
	text-align: center;
	padding: 100px 20px;
}


#left, #right {
	margin-left: 50px;
	width: 700px;
	vertical-align: top;
	display: inline-block;
}